@model Fakturiska.Models.InvoiceCompaniesModel

@using (Html.BeginForm("CreateInvoice", "Invoice", new { enctype = "multipart/form-data" }, FormMethod.Post, htmlAttributes: new { @id = "invoiceForm" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Invoice.InvoiceGuid)
    @Html.HiddenFor(model => model.Invoice.Archive)
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.Invoice.Date, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Invoice.Date, new { @class = "form-control datepicker", placeholder = "Odaberite datum..." })
                    @Html.ValidationMessageFor(model => model.Invoice.Date, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Invoice.InvoiceEstimate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.CheckBoxFor(model => model.Invoice.InvoiceEstimate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Invoice.InvoiceEstimate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Invoice.InvoiceTotal, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.CheckBoxFor(model => model.Invoice.InvoiceTotal, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Invoice.InvoiceTotal, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Invoice.Incoming, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.CheckBoxFor(model => model.Invoice.Incoming, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Invoice.Incoming, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Invoice.Paid, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.CheckBoxFor(model => model.Invoice.Paid, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Invoice.Paid, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Invoice.Risk, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.CheckBoxFor(model => model.Invoice.Risk, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Invoice.Risk, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Invoice.Sum, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Invoice.Sum, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Invoice.Sum, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Invoice.Priority, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EnumDropDownListFor(model => model.Invoice.Priority, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Invoice.Priority, "", new { @class = "text-danger" })
                </div>
            </div>

            @if (Model == null || Model.Invoice.InvoiceGuid == null || Model.Invoice.InvoiceGuid == Guid.Empty)
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.Invoice.File, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <a class="btn btn-default" id="addFile">Dodaj fajl</a>
                        @Html.ValidationMessageFor(model => model.Invoice.File, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div id="dzContainer"></div>
            }
        </div>

        <div class="col-md-8">
            <div class="form-horizontal" id="receiverForm">
                @Html.HiddenFor(model => model.CompanyReceiver.CompanyGuid)
                <div class="col-md-12">
                    <h4>Primalac</h4>
                    <hr />
                    <div class="col-md-6">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.CompanyReceiver.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.CompanyReceiver.Name, new { htmlAttributes = new { @class = "form-control receiverFields receiverAutocomplete" } })
                                @Html.ValidationMessageFor(model => model.CompanyReceiver.Name, "", new { @class = "text-danger receiverValidation" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.CompanyReceiver.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.CompanyReceiver.PhoneNumber, new { htmlAttributes = new { @class = "form-control receiverFields" } })
                                @Html.ValidationMessageFor(model => model.CompanyReceiver.PhoneNumber, "", new { @class = "text-danger receiverValidation" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.CompanyReceiver.FaxNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.CompanyReceiver.FaxNumber, new { htmlAttributes = new { @class = "form-control receiverFields" } })
                                @Html.ValidationMessageFor(model => model.CompanyReceiver.FaxNumber, "", new { @class = "text-danger receiverValidation" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.CompanyReceiver.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.CompanyReceiver.Address, new { htmlAttributes = new { @class = "form-control receiverFields" } })
                                @Html.ValidationMessageFor(model => model.CompanyReceiver.Address, "", new { @class = "text-danger receiverValidation" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.CompanyReceiver.Website, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.CompanyReceiver.Website, new { htmlAttributes = new { @class = "form-control receiverFields" } })
                                @Html.ValidationMessageFor(model => model.CompanyReceiver.Website, "", new { @class = "text-danger receiverValidation" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.CompanyReceiver.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.CompanyReceiver.Email, new { htmlAttributes = new { @class = "form-control receiverFields" } })
                                @Html.ValidationMessageFor(model => model.CompanyReceiver.Email, "", new { @class = "text-danger receiverValidation" })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CompanyReceiver.PersonalNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.CompanyReceiver.PersonalNumber, new { htmlAttributes = new { @class = "form-control receiverFields receiverAutocomplete" } })
                                @Html.ValidationMessageFor(model => model.CompanyReceiver.PersonalNumber, "", new { @class = "text-danger receiverValidation" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.CompanyReceiver.PIB, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.CompanyReceiver.PIB, new { htmlAttributes = new { @class = "form-control receiverFields receiverAutocomplete" } })
                                @Html.ValidationMessageFor(model => model.CompanyReceiver.PIB, "", new { @class = "text-danger receiverValidation" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.CompanyReceiver.MIB, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.CompanyReceiver.MIB, new { htmlAttributes = new { @class = "form-control receiverFields" } })
                                @Html.ValidationMessageFor(model => model.CompanyReceiver.MIB, "", new { @class = "text-danger receiverValidation" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.CompanyReceiver.AccountNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.CompanyReceiver.AccountNumber, new { htmlAttributes = new { @class = "form-control receiverFields" } })
                                @Html.ValidationMessageFor(model => model.CompanyReceiver.AccountNumber, "", new { @class = "text-danger receiverValidation" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.CompanyReceiver.BankCode, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.CompanyReceiver.BankCode, new { htmlAttributes = new { @class = "form-control receiverFields" } })
                                @Html.ValidationMessageFor(model => model.CompanyReceiver.BankCode, "", new { @class = "text-danger receiverValidation" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-horizontal" id="payerForm">
                @Html.HiddenFor(model => model.CompanyPayer.CompanyGuid)
                <h4>Uplatilac</h4>
                <hr />
                <div class="col-md-6">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.CompanyPayer.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CompanyPayer.Name, new { htmlAttributes = new { @class = "form-control payerFields payerAutocomplete" } })
                            @Html.ValidationMessageFor(model => model.CompanyPayer.Name, "", new { @class = "text-danger payerValidation" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CompanyPayer.PhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CompanyPayer.PhoneNumber, new { htmlAttributes = new { @class = "form-control payerFields" } })
                            @Html.ValidationMessageFor(model => model.CompanyPayer.PhoneNumber, "", new { @class = "text-danger payerValidation" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CompanyPayer.FaxNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CompanyPayer.FaxNumber, new { htmlAttributes = new { @class = "form-control payerFields" } })
                            @Html.ValidationMessageFor(model => model.CompanyPayer.FaxNumber, "", new { @class = "text-danger payerValidation" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CompanyPayer.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CompanyPayer.Address, new { htmlAttributes = new { @class = "form-control payerFields" } })
                            @Html.ValidationMessageFor(model => model.CompanyPayer.Address, "", new { @class = "text-danger payerValidation" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CompanyPayer.Website, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CompanyPayer.Website, new { htmlAttributes = new { @class = "form-control payerFields" } })
                            @Html.ValidationMessageFor(model => model.CompanyPayer.Website, "", new { @class = "text-danger payerValidation" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CompanyPayer.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CompanyPayer.Email, new { htmlAttributes = new { @class = "form-control payerFields" } })
                            @Html.ValidationMessageFor(model => model.CompanyPayer.Email, "", new { @class = "text-danger payerValidation" })
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.CompanyPayer.PersonalNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CompanyPayer.PersonalNumber, new { htmlAttributes = new { @class = "form-control payerFields payerAutocomplete" } })
                            @Html.ValidationMessageFor(model => model.CompanyPayer.PersonalNumber, "", new { @class = "text-danger payerValidation" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CompanyPayer.PIB, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CompanyPayer.PIB, new { htmlAttributes = new { @class = "form-control payerFields payerAutocomplete" } })
                            @Html.ValidationMessageFor(model => model.CompanyPayer.PIB, "", new { @class = "text-danger payerValidation" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CompanyPayer.MIB, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CompanyPayer.MIB, new { htmlAttributes = new { @class = "form-control payerFields" } })
                            @Html.ValidationMessageFor(model => model.CompanyPayer.MIB, "", new { @class = "text-danger payerValidation" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CompanyPayer.AccountNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CompanyPayer.AccountNumber, new { htmlAttributes = new { @class = "form-control payerFields" } })
                            @Html.ValidationMessageFor(model => model.CompanyPayer.AccountNumber, "", new { @class = "text-danger payerValidation" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CompanyPayer.BankCode, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.CompanyPayer.BankCode, new { htmlAttributes = new { @class = "form-control payerFields" } })
                            @Html.ValidationMessageFor(model => model.CompanyPayer.BankCode, "", new { @class = "text-danger payerValidation" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


