@model IEnumerable<Fakturiska.Models.InvoiceModel>

<table id="tableInvoices" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                Izmeni/Arhiviraj/Štampaj/Obriši
            </th>
        </tr>
    </thead>

    <tbody>
        @{int count = 0;}
        @foreach (var item in Model)
        {
                count++;
            <tr id="@string.Concat("row", count)">
                <td>
                    @Html.DisplayFor(modelItem => item.InvoiceId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    <a class="btn btn-info" onclick="editInvoice('@item.InvoiceGuid', 'false')"><span class="glyphicon glyphicon-edit"></span></a>
                    <a class="btn btn-danger" onclick="archiveInvoice('@item.InvoiceGuid', @count)"><span class="glyphicon glyphicon-briefcase"></span></a>
                    <a class="btn btn-primary" onclick="printInvoice('@item.InvoiceGuid')"><span class="glyphicon glyphicon-print"></span></a>
                    <a class="btn btn-danger" onclick="deleteInvoice('@item.InvoiceGuid', @count, 'false')"><span class="glyphicon glyphicon-remove"></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>

