@model IEnumerable<Fakturiska.Models.InvoiceModel>

<table id="tableArchive" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceEstimate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Incoming)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Risk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaidDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceiverName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayerName)
            </th>
            <th>
                Izmeni/Štampaj/Obriši
            </th>
        </tr>
    </thead>
    <tbody>

        @{int count = 0;}

        @foreach (var item in Model)
        {

            count++;
            <tr id="@string.Concat("rowArchive", count)">
                <td>
                    @Html.DisplayFor(modelItem => item.InvoiceId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                   @item.InvoiceEstimate
                </td>
                <td>
                    @item.InvoiceTotal
                </td>
                <td>
                    @item.Incoming
                </td>
                <td>
                    @item.Paid
                </td>
                <td>
                    @item.Risk
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaidDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PriorityName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReceiverName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PayerName)
                </td>
                <td>
                    <a class="btn btn-info" onclick="editInvoice('@item.InvoiceGuid', 'true')"><span class="glyphicon glyphicon-edit"></span></a>
                    <a class="btn btn-primary" onclick="printInvoice('@item.InvoiceGuid')"><span class="glyphicon glyphicon-print"></span></a>
                    <a class="btn btn-danger" onclick="deleteInvoice('@item.InvoiceGuid', @count, 'true')"><span class="glyphicon glyphicon-remove"></span></a>
                </td>
            </tr>       
        }
    </tbody>
</table>