@model IEnumerable<Fakturiska.Models.InvoiceModel>

<table id="tableInvoices" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InvoiceId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @{int count = 0;}
        @foreach (var item in Model)
        {
                count++;
            <tr id="@string.Concat("row", count)">
                <td>
                    @Html.DisplayFor(modelItem => item.InvoiceId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    <div class="modal fade" id="@string.Concat("editInvoiceModal", count)" role="dialog">
                        <div class="modal-dialog" style="width: 1000px;">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Izmeni fakturu</h4>
                                </div>
                                <div class="modal-body row">
                                    @Html.Action("EditInvoice", "Invoice", new { id = item.InvoiceGuid })
                                </div>
                                <div class="modal-footer">
                                    <input type="submit" class="btn btn-success" value="Edit" form="@string.Concat("invoiceForm", item.InvoiceId)" />
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-info" onclick="setModal('@string.Concat("#editInvoiceModal", count)')" data-toggle="modal" data-target="@string.Concat("#editInvoiceModal", count)"><span class="glyphicon glyphicon-edit"></span></a>
                    <a class="btn btn-danger" onclick="archiveInvoice('@item.InvoiceGuid', @count)"><span class="glyphicon glyphicon-briefcase"></span></a>
                    <a class="btn btn-primary" href="@string.Concat("/Invoice/PrintInvoice?filePath=", item.FilePath)"><span class="glyphicon glyphicon-print"></span></a>
                    <a class="btn btn-danger" onclick="deleteInvoice('@item.InvoiceGuid', @count, 'false')"><span class="glyphicon glyphicon-remove"></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>

