@model IEnumerable<Fakturiska.Models.InvoiceModel>

@{
    ViewBag.Title = "Upravljanje fakturama";
}

<div class="container">
    <div class="modal fade" id="createInvoiceModal" role="dialog">
        <div class="modal-dialog" style="width: 1000px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Kreiraj fakturu</h4>
                </div>
                <div class="modal-body row" id="createInvoiceForm">
                    @Html.Action("CreateInvoice", "Invoice")
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-success" value="Kreiraj" form="invoiceForm0" />
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Zatvori</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="pull-right" style="padding-top:35px">
            <a class="btn btn-info btn-lg" data-toggle="modal" data-target="#createInvoiceModal" onclick="setModal('#createInvoiceModal')">Dodaj novu</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2 class="col-md-offset-8">Nove fakture</h2>
        </div>
    </div>

    <div class="form-group col-md-3" style="padding-right:0px">
        <div class="input-group">
            <input class="form-control" id="searchInvoices" type="search" placeholder="Pretrazi">
            <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
        </div>
    </div>
    <div id="result">
        @Html.Action("TableInvoices", "Invoice")
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2 class="col-md-offset-4">Pretrazi arhivu faktura</h2>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-3" style="padding-right:0px">
            <div class="input-group">
                <input class="form-control" id="searchArchive" type="search" placeholder="Pretrazi">
                <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
            </div>
        </div>
        <div class="col-md-2" style="padding-left:0px">
            <select id="categorySelect" class="form-control">
                <option value="0">Broj fakture</option>
                <option value="1">Datum kreiranja</option>
                <option value="2">Predracun</option>
                <option value="3">Racun</option>
                <option value="4">Ulazna</option>
                <option value="5">Placena</option>
                <option value="6">Problematicna</option>
                <option value="7">Suma</option>
                <option value="8">Datum placanja</option>
                <option value="9">Prioritet</option>
                <option value="10">Primalac</option>
                <option value="11">Uplatilac</option>
            </select>
        </div>
    </div>
    <div id="resultArchive">
        @Html.Action("TableArchivedInvoices", "Invoice")
    </div>
    <input type="button" id="sendmessage" value="Send" />
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/jquery.signalR-2.2.2.js")
    <script src="/signalr/hubs"></script>
    @Scripts.Render("~/Scripts/notify.min.js")

    @Scripts.Render("~/Scripts/Custom/invoices.js")
    @Scripts.Render("~/Scripts/Custom/invoice.js")
}

