@model IEnumerable<Fakturiska.Models.InvoiceModel>

@{
    ViewBag.Title = "Invoices";
}

<div class="container">
    <div class="modal fade" id="createInvoiceModal" role="dialog">
        <div class="modal-dialog" style="width: 1000px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Invoice</h4>
                </div>
                <div class="modal-body">
                    @Html.Action("CreateInvoice", "Invoice")
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-success" value="Create" form="invoiceForm" />
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#createInvoiceModal">Dodaj novu</button>

    <h2>Nove fakture</h2>
    <table id="tableInvoices" class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.InvoiceId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @{int count = 0;}
            @foreach (var item in Model)
            {
                count++;
                if (item.Archive == null)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.InvoiceId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            <div class="modal fade" id="@string.Concat("editInvoiceModal", count)" role="dialog">
                                <div class="modal-dialog" style="width: 1000px;">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Edit Invoice</h4>
                                        </div>
                                        <div class="modal-body">
                                            @Html.Action("EditInvoice", "Invoice", new { id = item.InvoiceGuid })
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                            <input type="submit" class="btn btn-success" value="Edit" form="invoiceForm" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="@string.Concat("#editInvoiceModal", count)">Izmeni</button>
                            @Html.ActionLink("Arhiviraj", "ArchiveInvoice", new { id = item.InvoiceGuid }) |
                            @Ajax.ActionLink("Stampaj", "PrintInvoice", new { filePath = item.FilePath }, new AjaxOptions { }) |
                            @Html.ActionLink("Obrisi", "DeleteInvoice", new { id = item.InvoiceGuid })
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <h2>Pretrazi arhivu faktura</h2>
    <input id="searchArchive" type="text" />
    <select id="categorySelect">
        <option value="0">Broj fakture</option>
        <option value="1">Datum kreiranja</option>
        <option value="2">Predracun</option>
        <option value="3">Racun</option>
        <option value="4">Ulazna</option>
        <option value="5">Placena</option>
        <option value="6">Problematicna</option>
        <option value="7">Suma</option>
        <option value="8">Datum placanja</option>
        <option value="9">Prioritet</option>
        <option value="10">Primalac</option>
        <option value="11">Uplatilac</option>
    </select>
    <table id="tableArchive" class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.InvoiceId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InvoiceEstimate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InvoiceTotal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Incoming)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Paid)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Risk)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sum)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PaidDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PriorityName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReceiverName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PayerName)
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>

            @{count = 0; }
            @{int isChecked(int? a)
                {
                    if (a.HasValue)
                    {
                        if ((int)a == 1)
                        {
                            return 1;
                        }
                        else
                        {
                            return 0;
                        }
                    }
                    else
                    {
                        return -1;
                    }
                }
            }

            @foreach (var item in Model)
            {
                if (item.Archive == 1)
                {
                    count++;
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.InvoiceId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @if (isChecked(item.InvoiceEstimate) == 1)
                            {
                                @: DA
                            }
                            else if (isChecked(item.InvoiceEstimate) == 0)
                            {
                                @: NE
                            }
                        </td>
                        <td>
                            @if (isChecked(item.InvoiceTotal) == 1)
                            {
                                @: DA
                             }
                            else if (isChecked(item.InvoiceTotal) == 0)
                            {
                                @: NE
                             }
                        </td>
                        <td>
                            @if (isChecked(item.Incoming) == 1)
                            {
                                @: DA
                             }
                            else if (isChecked(item.Incoming) == 0)
                            {
                                @: NE
                            }
                        </td>
                        <td>
                            @if (isChecked(item.Paid) == 1)
                            {
                                @: DA
                            }
                            else if (isChecked(item.Paid) == 0)
                            {
                                @: NE
                             }
                        </td>
                        <td>
                            @if (isChecked(item.Risk) == 1)
                            {
                                @: DA
                             }
                            else if (isChecked(item.Risk) == 0)
                            {
                                @: NE
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sum)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PaidDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PriorityName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReceiverName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PayerName)
                        </td>
                        <td>
                            <div class="modal fade" id="@string.Concat("editArchivedInvoiceModal", count)" role="dialog">
                                <div class="modal-dialog" style="width: 1000px;">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Edit Invoice</h4>
                                        </div>
                                        <div class="modal-body">
                                            @Html.Action("EditInvoice", "Invoice", new { id = item.InvoiceGuid })
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                            <input type="submit" class="btn btn-success" value="Edit" form="invoiceForm" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="@string.Concat("#editArchivedInvoiceModal", count)">Izmeni</button>
                            @Html.ActionLink("Obrisi", "DeleteInvoice", new { id = item.InvoiceGuid }) |
                            @Ajax.ActionLink("Stampaj", "PrintInvoice", new { filePath = item.FilePath }, new AjaxOptions { })
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/dropzone.js")
    @Scripts.Render("~/Scripts/moment.js")
    @Scripts.Render("~/Scripts/bootstrap-datetimepicker.js")

    <script>
        var tableArchive;
        $(document).ready(function () {
            tableArchive = $('#tableArchive').DataTable({
                ordering: false,
                bFilter: true,
                dom: 'ltip',
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            });

            $('#searchArchive').on('keyup change', function () {
                if (tableArchive.search() !== this.value || this.value == "") {
                    tableArchive
                        .columns($('#categorySelect').val())
                        .search(this.value)
                        .draw();
                }
            });

            $('#categorySelect').change(function () {
                $('#searchArchive').val("");
                tableArchive
                    .columns()
                    .search("")
                    .draw();
            });

            tableInvoices = $('#tableInvoices').DataTable({
                "columnDefs": [{
                    "targets": 2,
                    "searchable": false,
                    "orderable": false,
                }],
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            });

            new Dropzone(document.body, {
                url: "/Invoice/Upload",
                dragenter: function () {
                },
                dragleave: function () {
                },
            });
        });
    </script>
}

