@model IEnumerable<Fakturiska.Models.UserModel>

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoleName)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="#" id="userEmail" class="editEmail" data-type="text" data-pk="@item.UserGuid" data-url="EditUser" data-title="Edit email">@item.Email</a> 
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoleName)
        </td>
        <td>
            @Html.ActionLink("Obrisi", "DeleteUser", new {  id=item.UserGuid  })
        </td>
    </tr>
}
</table>

@section Scripts {

<script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />

<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" />
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('.editEmail').editable();

        /*success: function(response, newValue) {
            console.log(newValue);
            if (response.status == 'error') return response.msg; //msg will be shown in editable form
        }*/
    });
</script>
}






