@model IEnumerable<Fakturiska.Models.UserWithoutPasswordModel>

<table id="tableUsersWaiting" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                Obriši
            </th>
        </tr>
    </thead>

    <tbody>
        @{int count = 0; }
        @foreach (var item in Model)
        {
            <tr id="@string.Concat("rowWaiting", count)">
                <td>
                    <!--<a href="#" id="userEmail" class="editEmail" data-type="text" data-pk="@item.UserGuid" data-url="EditUser" data-title="Edit email">@item.Email</a>-->
                    <a href="mailto:" + @item.Email>@item.Email</a>
                </td>
                <td>
                    <a href="#" id="userRole" class="editRole" data-type="select" data-pk="@item.UserGuid" data-url="EditUserRole" data-title="Edit Role">@item.Role</a>
                </td>
                <td>
                    <a class="btn btn-danger" onclick="deleteUser('@item.UserGuid', @count, 'true')"><span class="glyphicon glyphicon-remove"></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>
