@model IEnumerable<Fakturiska.Models.UserModel>

<table id="tableUsersWaiting" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @{int count = 0; }
        @foreach (var item in Model)
        {
            <tr id="@string.Concat("rowWaiting", count)">
                <td>
                    <a href="#" id="userEmail" class="editEmail" data-type="text" data-pk="@item.UserGuid" data-url="EditUser" data-title="Edit email">@item.Email</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>
                <td>
                    <a class="btn btn-danger" onclick="deleteUser('@item.UserGuid', @count, 'true')"><span class="glyphicon glyphicon-remove"></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>
