@model IEnumerable<Fakturiska.Models.UserModel>

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

<div id="popover-head" class="hide">
    some title
</div>

<div id="popover-content" class="hide">
    
</div> 

<div id="createUserForm">
    Role:<br>
    <select id="roleSelect">
        <option value="1">Admin</option>
        <option value="2">User</option>
    </select>
    <br>
    Email:<br>
    <input id="userEmail" type="email">
    <br><br>
    <button onclick="createUser()">Submit</button>
</div>

<a href="#" id="addUser" title="Add User" class="btn btn-default" data-toggle="popover">Add User</a><br>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoleName)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="#" id="userEmail" class="editEmail" data-type="text" data-pk="@item.UserGuid" data-url="EditUser" data-title="Edit email">@item.Email</a> 
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoleName)
        </td>
        <td>
            @Html.ActionLink("Obrisi", "DeleteUser", new {  id=item.UserGuid  })
        </td>
    </tr>
}
</table>

@section Scripts {

<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" />
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('.editEmail').editable();
        $('#addUser').popover({
            html: true,
            title: function () {
                return $("#popover-head").html();
            },
            content: function () {
                return $("#popover-content").html();
            }
        });
    });

    function createUser() {
        console.log($("#roleSelect").val());
        console.log($("#userEmail").val());

        $.post("CreateUserWithoutPassword", { email: $("#userEmail").val(), role: $("#roleSelect").val() }, function (result) {
            console.log(result);
        });
    }
</script>
}






