@model IEnumerable<Fakturiska.Models.UserModel>

<div id="popover-head" class="hide">
    some title
</div>

<div id="popover-content" class="hide">
    <div id="createUserForm">
        Role:<br>
        <select id="roleSelect" class="form-control">
            <option value="1">Admin</option>
            <option value="2">User</option>
        </select>
        <br>
        Email:<br>
        <input id="userEmail" type="email" class="form-control">
        <br>
        <a class="btn btn-success pull-right" id="createUser" style="margin-bottom:20px">Submit</a>
    </div>
</div> 

<a href="#" id="addUser" title="Add User" class="btn btn-info" data-toggle="popover">Add User</a><br>


<div class="form-group col-md-3" style="padding-right:0px">
    <div class="input-group">
        <input class="form-control" id="searchUsers" type="search" placeholder="Pretrazi">
        <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
    </div>
</div>
<table id="tableUsers" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    <a href="#" id="userEmail" class="editEmail" data-type="text" data-pk="@item.UserGuid" data-url="EditUser" data-title="Edit email">@item.Email</a> 
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>
                <td>
                    @Html.ActionLink("Obrisi", "DeleteUser", new {  id=item.UserGuid  })
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @Scripts.Render("~/Scripts/Custom/users.js")
}





